@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Option {
    display: flex;
    align-items: center;
    background-color: gray;
}

.Option:hover {
    background-color: rgb(94, 94, 94);
}

img {
    height: 80px;
    width: 80px;
    margin-right: 30px;
}

.name {
    color: white;
    font-family: "Tiny5", sans-serif;
    font-size: 30px;
}